@import "colors/colors.css";

* {
    all: unset;
    font-family: "Google Sans Flex", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
}

window#waybar {
    background-color: transparent;
}

.modules-center {
    background-color: @bg1;
    padding: 6px 18px;
    border-radius: 99px;
    color: @fg;
}

#custom-launcher {
    font-size: 1.3rem;
    margin-right: 10px;
    padding-left: 5px;
    animation: rainbow 5s infinite linear;
}

@keyframes rainbow {
    0% { color: @blue; }
    20% { color: @aqua; }
    40% { color: @green; }
    60% { color: @yellow; }
    80% { color: @purple; }
    100% { color: @blue; }
}

#clock {
    font-weight: 600;
    padding: 0 10px;
}

#custom-weather,
#custom-media, 
#network, 
#pulseaudio, 
#power-profiles-daemon,
#custom-power {
    background-color: @bg2;
    font-size: 0.95rem;
    padding: 2px 12px;
    border-radius: 99px;
    font-weight: 500;
}

#custom-weather {
    color: @aqua;
    margin: 0 5px;
}

#custom-media {
    margin: 0 5px;
}

#custom-media.stopped {
    color: @grey1;
}

#power-profiles-daemon {
    margin-left: 5px;
}

#custom-power {
    background-color: @red;
    color: @bg1;
    margin-left: 5px;
    padding: 2px 12px;
}

#workspaces {
    font-size: 0.95rem;
    background-color: @bg2;
    padding: 2px 4px;
    border-radius: 99px;
    font-weight: 700;
    margin: 0 5px;
}

#workspaces button {
    background-color: @bg3;
    padding: 0 8px;
    border-radius: 99px;
    min-width: 10px;
    margin: 0 2px;
    transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

#workspaces button.empty {
    color: @grey0;
}

#workspaces button.active {
    background-color: @green;
    color: @bg1;
    min-width: 1.5rem;
}

#pulseaudio.muted,
#pulseaudio.zero {
    background-color: @red;
    color: @bg1;
}